@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

/* ===== FULL MOVING LIGHT BACKGROUND ===== */
.animated-bg {
  position: relative;
  min-height: 100vh;
  background: #887878;
  overflow: hidden;
}

.animated-bg::before,
.animated-bg::after {
  content: "";
  position: absolute;
  top: -50vh;
  left: -50vw;
  width: 200vw;
  height: 200vh;
  background: radial-gradient(circle at center,
      rgba(0, 0, 0, 0.6) 0%,
      transparent 60%);
  animation: moveLight 5s linear infinite;
}

.animated-bg::after {
  animation-duration: 30s;
  animation-direction: reverse;
  opacity: 0.7;
}

@keyframes moveLight {
  0% {
    transform: translate(0vw, 0vh);
  }
  25% {
    transform: translate(50vw, -30vh);
  }
  50% {
    transform: translate(30vw, 50vh);
  }
  75% {
    transform: translate(-40vw, 30vh);
  }
  100% {
    transform: translate(0vw, 0vh);
  }
}

.animated-bg::before,
.animated-bg::after {
  pointer-events: none;
  z-index: 0;
}

.animated-bg > * {
  position: relative;
  z-index: 1;
}


/* ===== GLASS CARD ===== */
.glass-card {
  position: relative;
  z-index: 10;
  background: rgba(195, 219, 243, 0.9);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.4);
  color: black;
}

/* ===== BUTTON ===== */
.glow-button {
  padding: 16px;
  border-radius: 999px;
  background: #3f3f3f;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.glow-button:hover {
  background: black;
  transform: scale(1.05);
}

/* ===== OUTLINE BUTTON ===== */
.glow-button-outline {
  padding: 16px 50px;
  border-radius: 999px;
  border: 2px solid #3f3f3f;
  font-weight: 600;
  transition: all 0.3s ease;
}

.glow-button-outline:hover {
  background: #3f3f3f;
  color: white;
}

.dark-glow-bg {
  background: radial-gradient(
      circle at center,
      rgba(51, 65, 85, 0.9) 0%,
      rgba(15, 23, 42, 1) 60%
    ),
    #0f172a;
  background-attachment: fixed;
}
