@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== BLACK MOVING LIGHT BACKGROUND ===== */
.animated-bg {
  position: relative;
  min-height: 100vh;
  background: #0f0f0f;
  overflow: hidden;
}

.animated-bg::before,
.animated-bg::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(60,60,60,0.6) 0%, transparent 70%);
  border-radius: 50%;
  animation: moveLight 20s linear infinite;
}

.animated-bg::after {
  width: 500px;
  height: 500px;
  animation-duration: 25s;
  animation-direction: reverse;
}

@keyframes moveLight {
  0% {
    transform: translate(-20%, -20%);
  }
  25% {
    transform: translate(80%, -10%);
  }
  50% {
    transform: translate(60%, 70%);
  }
  75% {
    transform: translate(-10%, 60%);
  }
  100% {
    transform: translate(-20%, -20%);
  }
}

/* ===== GLASS CARD ===== */
.glass-card {
  position: relative;
  z-index: 10;
  background: rgba(230, 235, 240, 0.9);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.4);
  color: black;
}

/* ===== BUTTON ===== */
.glow-button {
  padding: 16px;
  border-radius: 999px;
  background: #3f3f3f;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.glow-button:hover {
  background: black;
  transform: scale(1.05);
}

/* ===== OUTLINE BUTTON ===== */
.glow-button-outline {
  padding: 16px 50px;
  border-radius: 999px;
  border: 2px solid #3f3f3f;
  font-weight: 600;
  transition: all 0.3s ease;
}

.glow-button-outline:hover {
  background: #3f3f3f;
  color: white;
}

.dark-glow-bg {
  background: radial-gradient(
      circle at center,
      rgba(51, 65, 85, 0.9) 0%,
      rgba(15, 23, 42, 1) 60%
    ),
    #0f172a;
  background-attachment: fixed;
}
